<style>
  /* Expand main content width */
  .wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
  }

  /* Make the section (main content) wider */
  section {
    width: 75%;
    float: right;
  }

  /* Adjust header/sidebar */
  header {
    width: 22%;
  }

  /* Responsive adjustments */
  @media screen and (max-width: 992px) {
    .wrapper {
      width: 90%;
    }

    section {
      width: 100%;
      float: none;
    }

    header {
      width: 100%;
      float: none;
    }
  }
</style>
